# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual envs
.venv/
venv/
env/

# Local files we don't want in Git
.env
data.db
uploads/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & coverage
*.log
.coverage*
coverage.xml
htmlcov/

# Build artifacts
dist/
build/
*.egg-info/.env
.venv